@import url("../public/fonts/font.css");
@import "tailwindcss";

@layer components {

    .btn--mini {
        @apply flex items-center p-2 rounded-xl shadow cursor-pointer gap-1
    }

    .btn {
        @apply p-2 rounded-xl shadow cursor-pointer
    }

    .btn--gold {
        @apply bg-amber-400 text-emerald-900
    }

    .btn--primary {
        @apply bg-[#20B2AA] text-white
    }

      .btn--light {
        @apply bg-white border border-gray-200 text-gray-500 
    }

    .input--style {
        @apply bg-gray-50 rounded-xl focus:shadow-md focus:ring-1 focus:ring-[#20B2AA] focus:outline-none focus:bg-white block w-full p-3
    }

    .table-container {
        @apply m-5 shadow rounded-xl overflow-x-auto
    }

    .dynamic-table {
        @apply w-full bg-white border-collapse
    }
}




.logo {
    font-family: "lalezar";
}

body {
    font-family: "Vazir";
    direction: rtl;

}





.dynamic-table th {
    background: #f8fafc;
    padding: 12px 16px;
    text-align: right;
    font-weight: 600;
    font-size: 0.875rem;
    color: #1e293b;
    border-bottom: 2px solid #e2e8f0;
}

.dynamic-table td {
    padding: 12px 16px;
    border-bottom: 1px solid #f1f5f9;
    font-size: 0.875rem;
    color: rgb(79, 79, 79);
}

.dynamic-table tbody tr:hover {
    background: #f7fbff;
    transition: 0.2s;
}

.empty-table {
    text-align: center;
    padding: 32px;
    background: #f8fafc;
    border-radius: 12px;
    color: rgb(0, 128, 255);
}

@media (max-width: 640px) {

    .dynamic-table th,
    .dynamic-table td {
        padding: 8px 12px;
        font-size: 0.75rem;
    }
}

